body
{
    /* background-color: rgba(176, 196, 233, 0.5); */
}

table
{
    border: 1px solid black;
    /* width: 100%;
    height: 100%; */
}

tr
{
    /* width: 700px; */
    /* height: 230px; */
    /* background-color: darkgreen; */
}

td
{
    /* width: 100%;
    height: 100%; */
    /* background-color: cyan; */
}

button
{
    width: 250px !important;
    height: 250px !important;
    text-align: center;
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
button:disabled
{
    background-color: rgb(196, 196, 196);
}